.provider-form {
    width: 70%;
    height:100%;
    font-family: Arial, sans-serif;
    background-color: #1B2028;
    padding: 20px;
    color: white;
    border-radius: 10px;
}

.provider-form h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.provider-form input[type="text"],
.provider-form textarea,
.provider-form select {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #31353F;
    background-color: #31353F;
    color: white;
}

.provider-form select {
    padding: 10px; /* Adjust as needed */
    border: 1px solid #31353F;
    margin: 0;    /* Ensure no default margins */
    box-sizing: border-box; /* This ensures padding and border are included in the element's total width */
}
.provider-form textarea{
    resize:none
}



.provider-form label {
    display: block;
    margin-bottom: 10px;
}


.provider-form input[type="text"],
.provider-form textarea,
.provider-form select {
    box-sizing: border-box;
}

.last2kids{
    display: flex;
    justify-content: center;
}

.provider-form button {
    display: flex;
    padding: 10px 20px;
    background-color: #007BFF;
    flex-direction: column;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    margin-top: 20px;
    align-items: center;
}